# Environment files
.env

# Raw data files
data_raw/
data/
*.csv

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/

# dbt
logs/
target/
dbt_packages/
dbt_modules/

# Python environment
.venv/

# OS files
.DS_Store
Thumbs.db